@import "../base/_variables.scss";

.index-bkgd {
	background: url("/assets/index-bkgd.webp") top no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.form-container {
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(1rem);
	padding: 40px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0;

	.separator {
		border-bottom: 1px solid $green-dark;
		margin: 15px 0;
		width: 100%;
	}
}

.logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.logo {
		width: 100px;
	}

	h1 {
		margin: 4px 0 0 0;
	}
}
