*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-primary;
}

.global-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

a {
	color: $green-dark;

	&:hover {
		color: $green-medium;
	}

	&:active {
		color: $green-light;
	}
}
